body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: rgb(3, 21, 13);
}

.div-description-description {
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.div-description-body {
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
}

.div-description-property-type {
  text-transform: uppercase;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 700;
  display: inline;
}

.div-description-name {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
}

.div-description-city {
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px 0px 16px 0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.div-description-characteristics-block {
  display: inline-block;
}

.div-description-characteristics-item {
  display: table;
  margin-right: 36px;
}

.div-description-characteristics-table-cell-margin {
  margin-right: 8px;
}

.div-description-characteristics-table-cell {
    display: table-cell;
    vertical-align: top;
}

.div-description-characteristics-amenity-cell {
    display: table-cell;
    vertical-align: middle;
}

.div-description-summary {
  min-height: 1px;
  margin: 16px 0px 16px 0px;
  position: relative;
}

.div-description-guests,
.div-description-bedrooms,
.div-description-beds,
.div-description-bathrooms {
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 8px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: inline;
}

.div-description-hide-fold {
  padding: 16px 0px 0px, 0px;
  display: block;
}

.a-description-fold {
    color: #008489;
    font: inherit;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-align: left;
}

.div-description-separator-margin {
  margin-top:24px;
  margin-bottom:24px;
  display: block;
}

.div-description-separator-separator {
  border-bottom: 1px solid #DBDBDB;
}

.div-description-separator-short-separator {
  width: 80px;
  border-bottom: 1px solid #DBDBDB;
}

.div-description-house-rules-acknowledge,
.div-description-space-header {
  margin: 16px 0px 16px 0px;
  font-weight: 500;
}

.div-description-amenities-right,
.div-description-amenities-left {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 1px;
    position: relative;
    width: 50%;
    float: left;
}


.div-description-section-header {
    color: #484848;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    margin: 16px 0px 16px 0px;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 700;
    display: block;
}

.modal-description-amenities-container {
  position: fixed;
  text-decoration: none;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 568px;
  max-width: 100%;
  padding: 40px;
  border: 1px solid #DBDBDB;
  -webkit-box-shadow: 0px 0px 3px #ccc;
  -moz-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  outline: 0;
  background-color: #ffffff;
}

.modal-description-amenities-top {
  height: 90vh;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-description-amenities-inner {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.button-description-modal-close {
  border: 3px solid #DBDBDB;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 50%;
}

.div-description-modal-amenities-title {
  font-weight: 700;
  margin: 8px 0px 24px 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
}

.div-description-modal-amenities-category {
  font-weight: normal;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 36px;
  margin-bottom: 24px;
  color: #484848;
}

.div-description-modal-amenities-name {
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: undefined;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 300;
}


@media (min-width: 1128px) {
  .div-description-body {
      width: 58.333333333333336%;
      float: left;
  }
  .div-description-summary-block {
    width: 100%;
    float: left;
  }
}
